:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  color: #32A956;
  font-family: 'Andale Mono', monospace;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  width: 100%;
  padding: 7px;
  background-color: #242424;
  border: 1px solid #32A956;
  font-size: 20px;
}

input:focus {
  transition: ease-in-out, width .35s ease-in-out;
  outline: 2px solid #32A956;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #242424;
  box-shadow: 3px -3px #32A956, 2px -2px #32A956, 1px -1px #32A956;
  border: 1px solid #32A956;
  cursor: pointer;
}

button:disabled {
  box-shadow: 3px -3px #737373, 2px -2px #737373, 1px -1px #737373;
  border: 1px solid #737373;
  color: #737373;
  cursor: not-allowed;
}

.error {
  color: #e13c3c;
  margin-bottom: 40px;
}